.slide {
	border-radius: 2rem;
	background-color: rgb(130, 223, 130);
	color: rgb(94, 55, 55);
	width: 70vw;
	height: 70vh;
	text-align: center;
	padding: 2rem;
	margin: 2rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	padding: 0.5rem;
	width: 30vw;
	border: 0.1em solid #e8e8e8;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Courier", "Roboto", sans-serif;
	font-weight: 30;
	color: rgb(94, 55, 55);
	text-align: center;
	transition: all 0.2s;
	font-size: 1rem;
}

.button:hover {
	color: #e8e8e8;
	background-color: rgb(15, 2, 126);
	border: 0.1em solid black;
}

input[type="text"],
select {
	width: 80%;
	padding: 1rem;
	margin: 2rem 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 2rem;
	font-family: "Courier";
}

.introtext {
	margin: 5rem;
	width: 80%;
}

@media only screen and (min-width: 800px) {
	.slide {
		width: 560px;
		height: 560px;
	}
}

@media only screen and (max-width: 600px) {
	.slide {
		height: 560px;
	}
}
